<form class="search-form">
  <input
    class="input-text"
    name="searchStr"
    type="text"
    placeholder="Search images..."
    required
  />
  <button class="btn-action" type="submit">Search</button>
</form>

<div class="loader" data-loader="search"></div>
<ul class="gallery"></ul>

<button class="btn-action btn-pagination" type="button" data-pagination>Load more</button>
<div class="loader" data-loader="pagination"></div>
<button class="btn-action btn-goup" type="button" data-goup>UP</button>

